{% extends 'base.html' %}
{% load static %}

{% block body %}
<div class="container-fluid p-0 hastagirsrenk">
  <div class="hastagiris">
    <form method="POST">
     {% csrf_token %}
     <h2 class="hastagirisisim mb-3">Sekreter Kayıt Paneli</h2>
       <!-- Email input -->
       <div class="form-outline mb-4">
         <input type="text" name="name" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">Ad</label>
       </div>
     
       <!-- Email input -->
       <div class="form-outline mb-4">
         <input type="text" name="surname" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">Soyad</label>
       </div>
     
       <!-- Email input -->
       <div class="form-outline mb-4">
         <input type="text" name="email" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">E-Posta</label>
       </div>
     
       <div class="form-outline mb-4">
         <input type="text" name="username" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">Kullanıcı Adı</label>
       </div>
     
       <!-- Email input -->
       <div class="form-outline mb-4">
         <input type="password" name="password1" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">Şifre</label>
       </div>

       <div class="form-outline mb-4">
         <input type="password" name="password2" id="form2Example1" class="form-control" />
         <label class="form-label" for="form2Example1">Şifre Tekrar</label>
       </div>
       <!-- Password input -->
       <!-- <div class="form-outline mb-4">
            <select  class="form-select"  name="cinsiyet" id=""  aria-label="Default select example">
            <option value="">Cinsiyet Seçiniz</option>
            <option value="erkek">Erkek</option>
            <option value="erkek">Kadın</option>
           </select>
       </div> -->
       <!-- Submit button -->
       <button type="submit" name="button" value="buttonkayit" class="btn btn-primary btn-block mb-4">Kayıt Ol</button>
     
       <!-- Register buttons -->
       <div class="text-center">
         <p>Hesabın zaten var mı? <a href="{% url 'secreterLogin' %}">Giriş Yap</a></p>
       </div>
     </form>
 </div>
</div>
{% endblock body %}
    