{% extends 'base.html' %}
{% load static %}


{% block body %}
<!-- <script>
    $(document).ready(function(){
       var $select1 = $('#select1'),
           $select2 = $('#select2'),
           $options = $select2.find('option');
           $select1.on('change',function(){
              $select2.html($options.filter('[value="'+this.value+'"]'));   
           }).trigger('change');
    });
</script> -->
    <div class="container-fluid p-0 secreterYuk">
        <div class="row">
            <div class="col-3 kbilgi">
                <h3>Kişi Bilgileri</h3>
                <div class="hastabilgi">
                    <h5 class="tchasta">Kişi TC: <span>{{ secreteruserinfo.secreterTC }}</span></h5>
                    <h5>Kişi Ad Soyad: <span>{{ request.user.get_full_name }}</span></h5>
                    <!-- Button trigger modal -->
                    <button type="submit" class="btn btn-primary btn-block mb-2" style="width:200px; display:block; margin:auto;" data-mdb-toggle="modal" data-mdb-target="#exampleModalBilgi">Bilgilerini Düzenle</button>
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalBilgi" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        <div class="modal-dialog">
                        <form method="POST" class="modal-content">
                            {% csrf_token %}
                            <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Profil Ayarla</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                                <label class="form-label mb-0 p-0 d-block text-start">Ad</label>
                                <input type="text" name="name" value="{{ hastauserinfo.isim }}" class="form-control"/>
                                <label class="form-label mb-0 p-0 d-block text-start">Soyad</label>
                                <input type="text" name="surname" value="{{ hastauserinfo.soyad }}" class="form-control"/>
                                <label class="form-label mb-0 p-0 d-block text-start">TC Kimlik No</label>
                                <input type="number" name="tcno" value="{{ hastauserinfo.hastaTC }}" class="form-control"/>
                                <label class="form-label mb-0 p-0 d-block text-start">Kullanıcı Adı</label>
                                <input type="text" name="username" value="{{ user.username }}" class="form-control"/>
                                <label class="form-label mb-0 p-0 d-block text-start">Telefon Numarası</label>
                                <input type="text" name="phone" value="{{ hastauserinfo.hastaTelefon }}" class="form-control"/>
                                <div class="form-outline mb-2 mt-2">
                                    <select  class="form-select"  name="cinsiyet" id=""  aria-label="Default select example">
                                    <option value="">Cinsiyet Seçiniz</option>
                                    <option value="erkek">Erkek</option>
                                    <option value="kadin">Kadın</option>
                                </select>
                                </div>
                                <label class="form-label mb-0 p-0 d-block text-start">Şifre</label>
                                <input type="password" name="password" class="form-control"/>
                            </div>
                            <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" name="button" value="buttonProfil" class="btn btn-primary">Kaydet</button>
                            </div>
                        </form>
                        </div>
                    </div>
                    <!-- Button trigger modal -->
                    <button type="submit" class="btn btn-primary btn-block mb-2" style="width:200px; display:block; margin:auto;" data-mdb-toggle="modal" data-mdb-target="#exampleModalSifre">Şifre Değiştir</button>
             
                    <!-- Modal -->
                    <div class="modal fade" id="exampleModalSifre" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <form method="POST" class="modal-content">
                        {% csrf_token %}
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Şifre Değiştir</h5>
                            <button type="button" class="btn-close" data-mdb-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div   class="modal-body">
                            
                            <label class="form-label mb-0 p-0 d-block text-start">Şifre</label>
                            <input type="password" name="password" class="form-control"/>
                            <label class="form-label mb-0 p-0 d-block text-start">Yeni Şifre</label>
                            <input type="password" name="password1" class="form-control"/>
                            <label class="form-label mb-0 p-0 d-block text-start">Şifre Tekrar</label>
                            <input type="password" name="password2" class="form-control"/>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-mdb-dismiss="modal">Close</button>
                            <button type="submit" name="button" value="buttonSifre" class="btn btn-primary">Kaydet</button>
                        </div>
                        </form>
                    </div>
                    </div>
                    <a href="{% url 'logouthastaUser' %}" type="submit" class="btn btn-danger btn-block mb-4" style="width:200px; display:block; margin:auto;">Çıkış Yap</a>
                </div>
            </div>
            <div class="col-3 kbilgii">
                <h3>Randevu Oluştur</h3>
                <div class="hastaranpanel">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <label class="form-label mb-0 p-0">Terih</label>
                        <input type="date" name="date" class="form-control" />
                        <label class="form-label mb-0 p-0">Saat</label>
                        <input type="time" name="time" class="form-control" />
                        <div class="form-outline">
                            <label class="form-label mb-0 p-0">Branş</label>
                            <select id="select1" class="form-select"  name="branslar">
                             <option selected disabled="true" value="">Branş Seçiniz</option>
                             
                             {% for i in bransgetir %}
                                <option value="{{ i.slug }}">{{ i }}</option>    
                             {% endfor %}

                            </select>
                        </div>
                        <div class="form-outline mb-2">
                            <label class="form-label mb-0 p-0">Doktor</label>
                            <select id="select2" class="form-select"  name="doktor">
                             <option selected disabled="true">Doktor Seçiniz</option>

                                {% for i in doktorlar %}
                                    <option value="{{ i.slug }}">{{ i }}</option> 
                                {% endfor %}
 
                            </select>
                        </div>
                        <button type="submit" name="button" value="bransEkle" class="btn btn-primary btn-block mt-1" style=" display:block;">Randevu Oluştur</button>
                        
                    </form>
                </div>
            </div>
            <div class="col-3 kbilgii">
                <h3>Duyuru Oluştur</h3>
                <div class="hastaranpanel">
                    <form method="POST" action="">
                        {% csrf_token %}
                    
                        
                        <textarea name="text" style="margin-top: 100px !important; height:400px !important;" class="mt-5 pb-5" name="" id="" cols="40" rows="6" placeholder="Şikayetiniz..." required></textarea>
                        <button type="submit" name="button" value="duyuruEkle" class="btn btn-primary btn-block mt-1" style=" display:block;">Duyuru Oluştur</button>
                        
                    </form>
                </div>
            </div>
            <div class="col-3 kbilgii">
                <h3>Hızlı Erişim</h3>
                <div class="hizlierisim mt-5">
                    <a href="{% url 'doktor' %}" type="submit" class="btn btn-primary btn-block mt-3 text-center">Doktor Paneli</a>
                    <a href="{% url 'BransPaneli' %}" type="submit" class="btn btn-primary btn-block mt-3" style=" display:block;">Brans Paneli</a>
                    <a href="{% url 'randevuListe' %}" type="submit" class="btn btn-primary btn-block mt-3" style=" display:block;">Randevu Listesi</a>
                    <a href="{% url 'DuyuruFon' %}" type="submit" class="btn btn-primary btn-block mt-3" style=" display:block;">Duyurular</a>
                </div>
            </div>
           
        </div>
        <div class="row ">
             <div class="col-6 kbilgiii doktorlarListesi">
                <h3>Branşlar</h3>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Randevu id</th>
                            <th>Randevu Adı</th>
                        </tr>
                    </thead>
                    <tbody>
                        
                        {% for i in bransgetir %}
                        <tr>
                            <td>{{ i.id }}</td>
                            <td>{{ i.ad }}</td>
                        </tr>
                        {% endfor %}
                            
                       
                        
                       
                    </tbody>
                </table>
            </div>
            <div class="col-6 kbilgiii doktorlarListesi">
                <h3>Doktorlar</h3>
                <table class="styled-table">
                    <thead>
                        <tr>
                            <th>Doktor ID</th>
                            <th>Doktor Ad Soyad</th>
                        </tr>
                    </thead>
                    <tbody class="">
                        
                        {% for i in doktorlar %}
                            <tr>
                            <td>{{ i.id }} </td>
                            <td>{{ i.isim }} {{ i.soyad }}</td>
                             </tr>
                        {% endfor %}
                            
                        
                        
                        <!-- and so on... -->
                    </tbody>
                </table>
            </div>
        </div>
    </div>
{% endblock body %}
    